<table class="table table-condensed" id="inherited_parameters">
  <%= global_parameter_header %>
  <tbody>
    <% inherited_parameters.each do |name, value| %>
      <tr class="<%="override-param" if @host.host_parameters.map(&:name).include?(name)%>">
        <td>
          <%= content_tag :span, trunc_with_tooltip(name,26), :id => "name_#{name}"%>
        <span class="help-inline fr">
          <%= popover("", _("<b>Source:</b> %{type} %{name}") % {:type => _(value[:source].to_s), :name => value[:source_name] ? "(#{value[:source_name]})":""}) %>
        </span>
        </td>
        <td><%= parameter_value_field(name, value[:safe_value]) %></td>
        <td>
          <%= link_to_function(_("override"), "override_param('#{name}')", :title => _("Override this value"),
                               :'data-tag' => 'override', :class => "btn btn-default") if authorized_via_my_scope("host_editing", "create_params") && !@host.host_parameters.map(&:name).include?(name) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
