<% disabled = (not authorized_via_my_scope("host_editing", "edit_params")) %>
<tr class="fields <%= 'has-error' if f.object.errors.any? %>">
  <td>
    <%= f.text_field(:name,  :class => "form-control", :disabled => disabled, :placeholder => _("Name")) %>
  </td>
  <td>
    <div class="input-group col-md-12">
      <%= hidden_value_field(f, :value, f.object.value, disabled) %>
    </div>
  </td>
  <td>
    <%= f.check_box(:hidden_value,
              :class => 'hidden_value_textarea_switch',
              :onchange => 'turn_textarea_switch(this)',
              :checked => f.object.hidden_value?,
              :disabled => disabled) %>
    <%= _('hide') %><br />
    <%= link_to_remove_fields('', f) if authorized_via_my_scope("host_editing", "destroy_params") %><%= _('remove') %>
  </td>
  <span class="help-block">
    <%= f.object.errors.full_messages.to_sentence %>
  </span>
</tr>